textarea, label {
    display: block;
    clear: left;
    width: 250px;
    margin-bottom: 0.2%;
}

input {
    display: block;
    margin-bottom: 1%;
}

h1 {
    margin-top: 4%;
}

.center {
    text-align: center;
    margin: auto 0;
}

#submit {
    width: 35%;
}

#form {
    width: 80%;
    float: left;
}

#recent {
    float: right;
    background-color: grey;
    width: 20%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper, html, body {
    height: 100%;
}

.row {
    margin: auto;
}

.one-half