textarea, label {
    display: block;
    clear: left;
    width: 250px;
    margin-bottom: 0.2%;
}

input {
    display: block;
    margin-bottom: 1%;
}

h1 {
    margin-top: 4%;
}

.center {
    text-align: center;
    margin: auto 0;
}

#submit {
    width: 35%;
}